.idea
output
__pycache__
scoring_program/__pycache__

code_submission/gpytorch/*.pyc<
code_submission/gpytorch/*/*.pyc
code_submission/gpytorch/*/*/*.pyc
code_submission/gpytorch/*/*/*/*.pyc


collected_data/
config/
results/

.ipynb_checkpoints/
.vscode/
